<nav>
  <a class="logo">
    <img src="/img/logo.png" />
  </a>
  <ul class="menu phone">
    <li><a href="/book">Book An Appointment</a></li>
    <button class="dropbtn">Careers <i class="bx bx-chevron-down"></i></button>
    <div class="jobs">
      <li><a href="/job/doc">Doctor Jobs</a></li>
      <li><a href="/job/nurs">Nurse Jobs</a></li>
    </div>
    <li class="bp"><a href="/blog">Blog Posts</a></li>
    <li><a href="/services">Our Services </a></li>
    <li><a href="/contact">Contact Us </a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/lang/ar">عربي</a></li>
  </ul>
  <ul class="menu pc">
    <li><a href="/book">Book An Appointment</a></li>
    <button class="dropbtn">Careers <i class="bx bx-chevron-down"></i></button>
    <div class="jobs">
      <li><a href="/job/doc">Doctor Jobs</a></li>
      <li><a href="/job/nurs">Nurse Jobs</a></li>
    </div>
    <li class="bp"><a href="/blog">Blog Posts</a></li>
    <li><a href="/services">Our Services </a></li>
    <li><a href="/contact">Contact Us </a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/lang/ar">عربي</a></li>
  </ul>
  <button class="menuBtn"><i class="bx bx-menu"></i></button>
</nav>
