<footer id="footer" class="footer-v1">
  <div class="container">
    <div class="row visible-md visible-lg">
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>SERVICES</h3>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/H-E">كشف منزلى </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/H-N">تمريض منزلى </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/X-R">الاشعة المنزلية </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/P-T">العلاج الطبيعى فى المنزل </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/E-C">مرافق كبار السن فى المنزل </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/S-P">البرامج الطبية الخاصة </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>SERVICES</h3>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/G-C"> مجموعة من أفضل الأطباء الاستشاريين </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/P-O">إعادة التأهيل بعد العمليات </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/H-XR">الاشعة السينية المنزلية </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/P-S">جلسات العلاج الطبيعى </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/O-G"> دكتور النساء والولادة ومتابعة الحمل </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/A-S">جميع التخصصات </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>SERVICES</h3>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/M-S">عمل غرز للجروح </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/U-D">دكتور جراحة المسالك البولية </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/V-S">دكتور جراحة الأوعية الدموية </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/C-F">رعاية مرضى كسور العظام </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/N-A">مساعد تمريض </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/E-S">مرافق المسن ( جليسة المسنين ) </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/C-D">رعاية مرضى السكر </a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/C-D">تقديم خدمة </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>CONTACT US</h3>
        <ul class="contact_footer">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:Alhayatgroup2019@gmail.com"
              >Alhayatgroup2019@gmail.com</a
            >
          </li>
          <li>
            <i class="fa fa-headphones"></i>
            <a href="tel:01002237799">01002237799</a>
          </li>
        </ul>
        <h3 style="margin-top: 10px">FOLLOW US</h3>
        <ul class="social">
          <li class="facebook">
            <span><i class="fa fa-facebook"></i></span>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row visible-sm visible-xs">
      <div class="col-md-6">
        <h3 class="mlist-h">CONTACT US</h3>
        <ul class="contact_footer mlist">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:Alhayatgroup2019@gmail.com"
              >Alhayatgroup2019@gmail.com</a
            >
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <a href="tel:01002237799">01002237799</a>
          </li>
        </ul>
        <ul class="social mlist-h">
          <li class="facebook">
            <span><i class="fa fa-facebook"></i></span>
            <a href="#"></a>
          </li>
          <li class="twitter">
            <span><i class="fa fa-twitter"></i></span>
            <a href="#"></a>
          </li>
          <li class="github">
            <span><i class="fa fa-instagram"></i></span>
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="nav-footer">
            <li><a href="about">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</footer>
