<footer id="footer" class="footer-v1">
  <div class="container">
    <div class="row visible-md visible-lg">
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>SERVICES</h3>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/H-E">Home examination</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/H-N">HOME NURSERY</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/X-R">X-RAY & ULTRASOUND AT HOME</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/P-T">PHYSICAL THERAPY AT HOME</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/E-C">ELDERLY CARE AT HOME</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/S-P">SPECIAL MEDICAL PROGRAMS</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>SERVICES</h3>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/G-C">group of the best consultants</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/P-O">Post-operative</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/P-S">Physiotherapy sessions</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/A-S">All specialties</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/M-S">Making stitches</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/U-D">Urology doctor</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>SERVICES</h3>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/V-S">Vascular surgery</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/C-F">care of bone fracture</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/N-A">nursing assistant</a>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <a href="/service/C-D">care of diabetics</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <h3>CONTACT US</h3>
        <ul class="contact_footer">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:Alhayatgroup2019@gmail.com"
              >Alhayatgroup2019@gmail.com</a
            >
          </li>
          <li>
            <i class="fa fa-headphones"></i>
            <a href="tel:01002237799">01002237799</a>
          </li>
        </ul>
        <h3 style="margin-top: 10px">FOLLOW US</h3>
        <ul class="social">
          <li class="facebook">
            <a href="https://www.facebook.com/elhayatgroup30?mibextid=ZbWKwL">
              <span><i class="fa fa-facebook"></i></span>
            </a>
          </li>

          <li class="github">
            <a
              href="https://www.instagram.com/alhayatgroup2019/?utm_source=qr&r=nametag"
            >
              <span><i class="fa fa-instagram"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row visible-sm visible-xs">
      <div class="col-md-6">
        <h3 class="mlist-h">CONTACT US</h3>
        <ul class="contact_footer mlist">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:Alhayatgroup2019@gmail.com"
              >Alhayatgroup2019@gmail.com</a
            >
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <a href="tel:01002237799">01002237799</a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/elhayatgroup30?mibextid=ZbWKwL">
              <span><i class="fa fa-facebook"></i></span>
            </a>
          </li>

          <li class="github">
            <a
              href="https://www.instagram.com/alhayatgroup2019/?utm_source=qr&r=nametag"
            >
              <span><i class="fa fa-instagram"></i></span>
            </a>
          </li>
        </ul>
        <ul class="social mlist-h">
          <li class="facebook">
            <a href="https://www.facebook.com/elhayatgroup30?mibextid=ZbWKwL">
              <span><i class="fa fa-facebook"></i></span>
            </a>
          </li>

          <li class="github">
            <a
              href="https://www.instagram.com/alhayatgroup2019/?utm_source=qr&r=nametag"
            >
              <span><i class="fa fa-instagram"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="nav-footer">
            <li><a href="about">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</footer>
