<div class="info-head">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="visible-md visible-lg text-left">
          <li>
            <a href="tel:01002237799"
              ><i class="fa fa-phone"></i> 01002237799</a
            >
          </li>
          <li>
            <a href="mailto:Alhayatgroup2019@gmail.com"
              ><i class="fa fa-envelope"></i> Alhayatgroup2019@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="visible-md visible-lg text-right">
          <li>Hot line</li>
          <li>
            <a href="tel:01002237799">
              <i class="fa fa-phone"></i> 01002237799
            </a>
          </li>
          <li>
            <a href="mailto:Alhayatgroup2019@gmail.com"
              ><i class="fa fa-envelope"></i> Alhayatgroup2019@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header id="header" class="header-v3">
  <nav class="flat-mega-menu">
    <label for="mobile-button"> <i class="fa fa-bars"></i></label>
    <input id="mobile-button" type="checkbox" />

    <ul class="collapse">
      <li class="title">
        <a href="/"><img src="/images/logo.png" style="width: 50px" /></a>
      </li>
      <li><a href="/book">Book An Appointment</a></li>
      <li>
        <a>Careers</a>
        <ul class="drop-down one-column hover-fade">
          <li><a href="/job/doc">Doctors Careers</a></li>
          <li><a href="/job/nurs">Nurses Careers</a></li>
        </ul>
      </li>
      <li><a href="/blog">Blog Posts</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/faq">Common questions</a></li>
      <li><a href="/lang/ar">عربي</a></li>
    </ul>
  </nav>
</header>
