<div class="header">
  <!-- Logo -->
  <div class="header-left">
    <a href="/api/admin/" class="logo">
      <img src="/admin/assets/img/logo.png" width="40" height="40" alt="" />
    </a>
  </div>
  <!-- /Logo -->

  <a id="toggle_btn" href="javascript:void(0);">
    <span class="bar-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>

  <!-- Header Title -->
  <div class="page-title-box">
    <h3>Elhayah Group</h3>
  </div>
  <!-- /Header Title -->

  <a id="mobile_btn" class="mobile_btn" href="#sidebar"
    ><i class="fa fa-bars"></i
  ></a>
</div>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
          <span>MENU</span>
        </li>
        <li>
          <a href="/api/admin/booking">
            <i class="la la-file-pdf-o"></i>
            <span>معلومات الحجز</span>
          </a>
        </li>
        <li>
          <a href="/api/admin/services">
            <i class="la la-file-pdf-o"></i>
            <span>الخدمات</span>
          </a>
        </li>
        <li>
          <a href="/api/admin/jobs/nurse">
            <i class="la la-file-pdf-o"></i>
            <span>طلبات العمل تمريض</span>
          </a>
        </li>
        <li>
          <a href="/api/admin/jobs/doctor">
            <i class="la la-file-pdf-o"></i>
            <span>طلبات العمل طبيب</span>
          </a>
        </li>
        <li>
          <a href="/api/admin/posts">
            <i class="la la-file-pdf-o"></i>
            <span>المنشورات</span>
          </a>
        </li>
        <li>
          <a href="/api/admin/contacts">
            <i class="la la-file-pdf-o"></i>
            <span>رسائل</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->
